[submodule ".vim/pack/plugins/start/file-line"]
	path = .vim/pack/plugins/start/file-line
	url = https://github.com/bogado/file-line
[submodule ".vim/pack/plugins/start/vim-toml"]
	path = .vim/pack/plugins/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/pack/plugins/start/async.vim"]
	path = .vim/pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/pack/plugins/start/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/plugins/start/asyncomplete.vim"]
	path = .vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/plugins/start/vim-clang-format"]
	path = .vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/pack/plugins/start/kotlin-vim"]
	path = .vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/pack/plugins/start/blueprint-vim-syntax"]
	path = .vim/pack/plugins/start/blueprint-vim-syntax
	url = https://github.com/psyill/blueprint-vim-syntax
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
